<?xml version="1.0"?>
<config>
    <modules>
        <Triveni_Customsize>
            <version>1.0</version>
        </Triveni_Customsize>
    </modules>
    
    <frontend>
        <routers>
            <customsize>
                <use>standard</use>
                <args>
                    <module>Triveni_Customsize</module>
                    <frontName>customsize</frontName>
                </args>
            </customsize>
        </routers>
        <layout>
            <updates>
                <customsize>
                    <file>customsize.xml</file>
                </customsize>
            </updates>
        </layout>
    </frontend>
    
    <admin>
        <routers>
            <customsize>
                <use>admin</use>
                <args>
                    <module>Triveni_Customsize</module>
                    <frontName>customsize</frontName>
                </args>
            </customsize>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
            </resources>
        </acl>
       <layout>
            <updates>
                <customsize>
                    <file>customsize.xml</file>
                </customsize>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <customsize>
                <class>Triveni_Customsize_Model</class>
                <resourceModel>customsize_mysql4</resourceModel>
            </customsize>
            <customsize_mysql4>
                <class>Triveni_Customsize_Model_Mysql4</class>
                <entities>
                    <customsize>
                        <table>triveni_customsize</table>
                    </customsize>
                </entities>
            </customsize_mysql4>
        </models>
        <resources>
            <customsize_setup>
                <setup>
                    <module>Triveni_Customsize</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customsize_setup>
            <customsize_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customsize_write>
            <customsize_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customsize_read>
        </resources>
        <blocks>
            <customsize>
                <class>Triveni_Customsize_Block</class>
            </customsize>
        </blocks>
        <helpers>
            <customsize>
                <class>Triveni_Customsize_Helper</class>
            </customsize>
        </helpers>
    </global>
</config>
